<!DOCTYPE html>
<html>
<head>
  <title>List of Interviews</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f0f0f0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .card {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 300px;
      text-align: left;
    }

    h1 {
      background-color: #007BFF;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
    }

    strong {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>List of Interviews</h1>
  <ul>
    <% interviews.forEach(function(interview) { %>
      <li class="card">
        <strong>Company Name:</strong> <%= interview.companyName %><br>
        <strong>Position:</strong> <%= interview.position %><br>
        <strong>Tech Stack:</strong> <%= interview.techStack.join(', ') %><br>
        <strong>Salary:</strong> $<%= interview.salary %><br>
        <strong>Date:</strong> <%= interview.date.toDateString() %><br>
        <strong>Job Description:</strong> <%= interview.jobDescription %><br>
      </li>
    <% }); %>
  </ul>
</body>
</html>
